.article {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
}

.article__name {
    font-size: 20px;
    font-weight: bold;
}

.article__desc {
    color: #666666;
    font-style: italic;
}
.article-list__item .article__buyer {
    display: none;
}
.article-list__item--sold .article__buyer {
    display: block;
}
.article-list__item--sold .article__buy-btn,
.article-list__item--own .article__buy-btn {
    display: none;
}

#sell-article-form {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
}

